<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/admin/meetings" class="nav-link">meetings</a>
        </li>
        <li class="nav-item">
          <a href="/admin/circulars" class="nav-link">circulars</a>
        </li>
        <li class="nav-item">
          <a href="/admin/amenities" class="nav-link">add amenities</a>
        </li>
        <li class="nav-item">
          <a href="/admin/complaints" class="nav-link">complaints</a>
        </li>
        <li class="nav-item">
          <a href="/admin/handle-users" class="nav-link">handle users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
