<nav class="navbar navbar-expand-lg bg-light navbar-light py-3">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/home" class="nav-link">home</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a
              class="nav-link dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              services
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="/services/amenities"
                  >amenities</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/services/circulars"
                  >circulars</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/services/complaints"
                  >complaints</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link">contacts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
