<%- include("../partials/header"); -%>
<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/master/admin/add-society" class="nav-link active"
            >add a new society</a
          >
        </li>
        <li class="nav-item">
          <a href="#admin-logout" class="nav-link active">log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <br />
  <h2 class="table-title">manage societies</h2>
  <br />
  <table class="table table-bordered border-dark align-middle">
    <tr>
      <th>Sr no</th>
      <th>Society Name</th>
      <th>Society address</th>
      <th>City</th>
      <th>State</th>
      <th>Postal Code</th>
      <th>number of residents</th>
      <th>Delete society</th>
    </tr>
    <tr>
      <td>1</td>
      <td>smart society</td>
      <td>Lorem ipsum dolor sit amet, ut labore et dolore magna aliqua.</td>
      <td>rajkot</td>
      <td>gujarat</td>
      <td>367895</td>
      <td>900</td>
      <td><button type="submit">Delete</button></td>
    </tr>
    <tr>
      <td>2</td>
      <td>silver heights</td>
      <td>Vitae purus faucibus ornare suspendisse sed nisi lacus sed.</td>
      <td>ahmedabad</td>
      <td>gujarat</td>
      <td>312395</td>
      <td>950</td>
      <td><button type="submit">Delete</button></td>
    </tr>
  </table>
</div>
<%- include("../partials/footer"); -%>
