<%- include("../partials/header"); -%> <%- include("../partials/admin-navbar");
-%>

<div class="container">
  <br />
  <h3>
    <b><u>filed by :</u></b>
  </h3>
  <h4>frank sheeran ( A-403 ) on 12/02/2022</h4>
  <h3>
    <br />
    <b><u>complaint title:</u></b>
  </h3>
  <h4>Vitae purus faucibus ornare suspendisse sed nisi lacus sed.</h4>
</div>
<br />

<div class="container">
  <form action="/admin/complaints/complaintId" method="post">
    <div class="w-25">
      <input
        class="form-control form-control-lg"
        id="comment"
        name="comment"
        type="text"
        placeholder="comment"
      />
    </div>
    <br />
    <input type="submit" class="btn btn-primary btn-md" value="submit" />
  </form>
</div>
<%- include("../partials/footer"); -%>
