<%- include("../partials/header"); -%>
<title>Smart Society | sign up</title>

<form method="post" action="/admin/signup">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">SMART SOCIETY ADMIN</h3>

              <h3 class="mb-5">Sign Up</h3>
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="name"
                  class="form-control form-control-lg"
                  placeholder="name"
                  name="name"
                />
              </div>
              <br />

              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="typeEmailX-2"
                  class="form-control form-control-lg"
                  placeholder="Email"
                  name="email"
                  autofocus
                />
              </div>
              <br />
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="number"
                  class="form-control form-control-lg"
                  placeholder="phone number"
                  name="number"
                />
              </div>
              <br />
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="societyCode"
                  class="form-control form-control-lg"
                  placeholder="Society Code"
                  name="societyCode"
                />
              </div>
              <br />

              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  placeholder="Password"
                  name="password"
                />
              </div>
              <br />

              <input
                class="btn btn-primary btn-lg"
                value="register"
                type="submit"
              />

              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
<%- include("../partials/footer"); -%>
