<%- include("../partials/header"); -%> <%- include("../partials/admin-navbar");
-%>

<form method="post" action="/admin/meetings">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">ADD A NEW MEETING</h3>

            <div class="form-outline mb-4">
              <input
                class="form-control form-control-lg"
                type="text"
                name="title"
                id="title"
                placeholder="title"
                autofocus
              />
            </div>
            <br />
            <div class="form-outline mb-4">
              <input
                class="form-control form-control-lg"
                type="text"
                name="agenda"
                id="agenda"
                placeholder="meeting agenda"
              />
            </div>
            <br />

            <div class="form-outline mb-4">
              <input
                class="form-control form-control-lg"
                type="text"
                name="details"
                id="details"
                placeholder="meeting details"
              />
            </div>
            <br />

            <div class="form-outline mb-4">
              <input
                class="form-control form-control-lg"
                type="text"
                name="venue"
                id="venue"
                placeholder="meeting venue"
              />
            </div>
            <br />

            <div class="mb-4">
              <input
                class="form-control form-control-lg"
                type="datetime-local"
                name="datetime"
                id="datetime"
              />
              <br />
              <label class="form-label" for="datetime">
                <h4>schedule for:</h4></label
              >
            </div>
            <input class="btn btn-primary btn-lg" value="Add" type="submit" />
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
<br />
<div class="container">
  <div class="card-body p-5 text-center">
    <h3 class="mb5">SCHEDULED MEETINGS</h3>
  </div>
  <table class="table table-bordered border-dark">
    <tr>
      <th>sr no</th>
      <th>meeting title</th>
      <th>meeting agenda</th>
      <th>date</th>
      <th>time</th>
      <th>meeting agenda</th>
      <th>venue</th>
      <th>delete meeting</th>
    </tr>
    <tr>
      <td>1</td>
      <td>navratri celebration</td>
      <td>arrangements for dandiya-raas</td>
      <td>2022-02-15</td>
      <td>09:30PM</td>
      <td>Vitae purus faucibus ornare suspendisse sed nisi lacus sed.</td>
      <td>party lawn</td>
      <td><button type="submit">Delete</button></td>
    </tr>
  </table>
</div>
<%- include("../partials/footer"); -%>
