<%- include("../partials/header"); -%> <%- include("../partials/user-navbar");
-%>

<div class="container">
  <form action="/services/complaints" method="post">
    <section class="">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">FILE A NEW COMPLAINT</h3>

              <div class="form-outline mb-4">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  name="title"
                  id="title"
                  placeholder="complaint title"
                  autofocus
                />
              </div>
              <br />
              <div class="form-outline mb-4">
                <textarea
                  class="form-control"
                  name="description"
                  id="description"
                  placeholder="add a complaint description."
                  cols="5"
                  rows="3"
                ></textarea>
              </div>
              <br />
              <input class="btn btn-primary btn-lg" value="Add" type="submit" />
              <br />
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
<div class="container">
  <h3 class="table-title">your complaints</h3>
  <br />
  <table class="table table-bordered border-dark">
    <tr>
      <th>sr no</th>
      <th>title</th>
      <th>description</th>
      <th>filed on</th>
      <th>admin's comment</th>
      <th>status</th>
    </tr>
    <tr>
      <td>1</td>
      <td>dolor sit</td>
      <td>Lorem ipsum dolor sit amet elit.</td>
      <td>17/02/2022</td>
      <td>Lorem ipsum dolor sit amet elit.</td>
      <td>resolved</td>
    </tr>
  </table>
</div>
<%- include("../partials/footer"); -%>
