<%- include("../partials/header"); -%> <%- include("../partials/user-navbar");
-%>

<div class="container">
  <br />
  <h3>amenity at a glance</h3>
  <br />
  <img
    class="amenity-picture"
    src="https://images.pexels.com/photos/261238/pexels-photo-261238.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    alt="pool"
  /><br /><br />
  <form action="/services/amenities" method="post">
    <h3 name="amenityName">swimming pool</h3>
    <br />

    <label for="bookFrom"><h4>book from:</h4></label><br />
    <input type="datetime-local" name="bookFrom" id="bookFrom" /><br /><br />
    <label for="bookTill"><h4>book till:</h4></label><br />
    <input type="datetime-local" name="bookTill" id="bookTill" /><br /><br />
    <input type="submit" value="Submit" />
  </form>
</div>
<br />
<hr />
<br />
<div class="container">
  <h3 class="table-title">bookings</h3>
  <br />
  <table class="table table-bordered border-dark">
    <tr>
      <th>sr no</th>
      <th>book from</th>
      <th>book till</th>
    </tr>
    <tr>
      <td>1</td>
      <td>17/02/2021 11:00 AM</td>
      <td>17/02/2021 03:00 PM</td>
    </tr>
  </table>
</div>
<%- include("../partials/footer"); -%>
