<%- include("../partials/header"); -%> <%- include("../partials/user-navbar");
-%> <br />
<h1 class="table-title">contact us</h1>
<br />
<div class="container">
  <section class="mb-4">
    <br />
    <div class="row">
      <!-- Grid column-->
      <div class="col-md text-center">
        <h3>&lt;adminName&gt;</h3>
        <br />
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fa-regular fa-envelope fa-2x"></i>
            <h4>
              <a href="mailto:frankabagnale@email.com"
                >frankabagnale@email.com</a
              >
            </h4>
          </li>

          <li>
            <i class="fas fa-phone mt-4 fa-2x"></i>
            <h4><a href="tel:+9199999999"> +91 99899 99989</a></h4>
          </li>

          <li>
            <i class="fa-brands fa-whatsapp mt-4 fa-2x"></i>
            <h4>
              <a
                href="https://wa.me/+91<admin contactNo>?text=Hi, I'm <user name> from <block no>."
              >
                +91 99899 99989
              </a>
            </h4>
          </li>
        </ul>
      </div>
      <br />

      <!--Grid column -->
      <!-- Grid column-->
      <div class="col-md text-center">
        <h3>&lt;adminName&gt;</h3>
        <br />
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fa-regular fa-envelope fa-2x"></i>
            <h4>
              <a href="mailto:frankabagnale@email.com"
                >frankabagnale@email.com</a
              >
            </h4>
          </li>

          <li>
            <i class="fas fa-phone mt-4 fa-2x"></i>
            <h4><a href="tel:+9199999999"> +91 99899 99989</a></h4>
          </li>

          <li>
            <i class="fa-brands fa-whatsapp mt-4 fa-2x"></i>
            <h4>
              <a
                href="https://wa.me/+91<admin contactNo>?text=Hi, I'm <user name> from <block no>."
              >
                +91 99899 99989
              </a>
            </h4>
          </li>
        </ul>
      </div>
      <br />
      <!--Grid column -->
      <!-- Grid column-->
      <div class="col-md text-center">
        <h3>&lt;adminName&gt;</h3>
        <br />
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fa-regular fa-envelope fa-2x"></i>
            <h4>
              <a href="mailto:frankabagnale@email.com"
                >frankabagnale@email.com</a
              >
            </h4>
          </li>

          <li>
            <i class="fas fa-phone mt-4 fa-2x"></i>
            <h4><a href="tel:+9199999999"> +91 99899 99989</a></h4>
          </li>

          <li>
            <i class="fa-brands fa-whatsapp mt-4 fa-2x"></i>
            <h4>
              <a
                href="https://wa.me/+91<admin contactNo>?text=Hi, I'm <user name> from <block no>."
              >
                +91 99899 99989
              </a>
            </h4>
          </li>
        </ul>
      </div>
      <br />

      <!--Grid column -->
    </div>
  </section>
</div>
<%- include("../partials/footer"); -%>
